* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(lightblue, rgb(0, 162, 255));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  height: fit-content;
  width: fit-content;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1.5rem;
  .card {
    align-self: center;
    justify-self: center;
    border: 2px whitesmoke solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.1);
      transition: all 0.5s ease;
    }
    .front-face {
      width: 230px;
      height: auto;
    }
    .back-face {
      width: 230px;
      height: auto;
    }
    .front-face.hide {
      display: none;
      pointer-events: none;
    }
    .back-face.hide {
      display: none;
      pointer-events: none;
    }
  }
}

@keyframes flipCard {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
